.container {
  background-color: rgb(168, 214, 255);
  padding: 40px;
  margin: 30px;
  text-align: center;
  border-radius: 10px;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 38px;
}
.temperature {
  font-size: 24px;
}
